body {
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pg-header {
    height: 48px;
    background-color: #e45050;
    color: white;
    line-height: 48px;
}

.pg-header .logo {
    width: 200px;
    background-color: #e45050;
    text-align: center;
}

.pg-header .icons {
    padding: 0 20px;
}

.pg-header .icons:hover {
    background-color: #f0ad4e;
}

.pg-header .user {
    margin-right: 60px;
    padding: 0 20px;
    color: white;
    height: 48px;
    position: relative;
}

.pg-header .user:hover {
    background-color: #f0ad4e;
}

.pg-header .user .a img {
    height: 40px;
    width: 40px;
    margin-top: 4px;
    border-radius: 50%;
}

.pg-header .user .b {
    z-index: 20;
    position: absolute;
    top: 48px;
    background-color: #dddddd;
    width: 114px;
    display: none;
    font-size: 14px;
    line-height: 30px;
    right: -12px;
    text-align: center;
}

.pg-header .user .b a {
    padding: 5px;
    color: #fff8f0;
    text-decoration: none;
}

.pg-header .user .b a:hover {
    background-color: #dddddd;
}

.pg-header .user:hover .b {
    display: block;
}

.pg-header .user .b a {
    display: block;
}

/*左侧菜单*/
.pg-content .menu {
    position: absolute;
    top: 48px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #dddddd;
}

.hide {
    display: none;
}

.item .header {
    height: 60px;
    background-color: darkcyan;
    color: white;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.menu_content {
    height: 122px;
    background-color: #c4b7b7;
    color: white;
    line-height: 40px;
    text-align: center;
}

/*左侧内容*/
.pg-content .content {
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 200px;
    overflow: auto;
    z-index: 9;

}
.content_table{
   position: relative;
    top: 5px;
    height: 500px;
    width: 500px;
    /* background-color: bisque; */
    margin: 0 auto;
}
.content_table .function{
    position: absolute;
    cursor: pointer;
    width: 260px;
    height: 20px;
    left: 152px;
}
.content_table table{
    position: absolute;
    left: 150px;
    top: 26px;
}
.table_text{
    z-index: 8;
    width: 80px;
    text-align: center;
}
.table_nest{
    width: 80px;
    text-align: center;
}

td .text{
    z-index: 9;
    width:84px;
    height: 25px;
    background-color: lavender
}
